*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}



.maincontent{
	width: 100%;
	height: 100vh;
	padding-top: 100px;
	background-image: url(images/background4.jpg);
	background-size: cover;
	overflow: overlay;
	background-position: center;


}


.logo{
	width: 150px;
	margin-top: 5px;
	position: absolute;
	position: left;
	margin-left: 20px ;
	cursor: pointer;
}
.content{
	margin-top: 280px;
	margin-inline: 100p;
}
.navbar{
	width: 100%;
	height: 15%;
	position: fixed;
	background: transparent;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav{
	flex: 1;
	color: white;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin: 60px;
}
nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 13px;
}
button{
	margin: 1em;
	padding: 10px 25px;
	background: white;
	cursor: pointer;
	outline: none;
	border: 1px solid white;
	border-radius: 20px;

}


.content{
	color: #fbfcfd;
	position: absolute;
	text-shadow: 3px 4px black;
	top: 60%;
	left: 8%;
	z-index: 2;
	transform: translateY(-50%);
}
h1{
	font-size: 80px;
	margin: 10 px 0 30px;
	line-height: 80px;
}
.animations img{
	width: 40px;
	animation: animations 7s linear infinite;
}
.animations{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: static;
	bottom: -10px;
}

@keyframes animations{
	0%{
		transform: translateY(0);
		opacity: 0;
	}

	15%{
		opacity: 0;
	}
	50%{
		opacity: 1;
		width: 50px;
	}
	70%{
		opacity: 1;
		width: 4%;
	}
	100%{
		transform: translateY(-80vh);
		opacity: 0;
	}
}

.animations img:nth-child(1){
	animation-delay: 2s;
}
.animations img:nth-child(2){
	animation-delay: 4s;
}
.animations img:nth-child(3){
	animation-delay: 7s;
}
.animations img:nth-child(4){
	animation-delay: 1s;
}
.animations img:nth-child(5){
	animation-delay: 5s;
}
.animations img:nth-child(6){
	animation-delay: 7s;
}
.animations img:nth-child(7){
	animation-delay: 5.5s;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}


#loader{
	background: rgb(123, 74, 22) url(images/loader1.gif) no-repeat center;
	background-size: 30%;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 999;
}

.cardcontainer{
	display: grid;
	grid-template-columns: 50em 55em;
}

.firstcard{
	width: 200px;
	height: 230px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-image: url(images/background4.jpg);
	background-position: center;
	background-size: cover;
}


.slider{
   border-radius: 35px; 	
   width: 90%;
   overflow: hidden;
   margin: 0 auto;
   margin-block: 5px;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left: -80;
}
#img2:checked ~ .m2 {
    margin-left: -90%;
}
#img3:checked ~ .m3 {
    margin-right: -100%;
}
#img4:checked ~ .m4 {
    margin-right: -70%;
}




	

h1{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.wrapper p{
	text-shadow: 2px 2px black;
color: rgba(255,255,255,0.8);
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: url(); -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;

    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}