*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;


}
body{
		background-image: url(images/newback.jpg);

	background-size: cover;
	overflow: overlay;
	background-repeat:no-repeat ;
	background-position: center;
}



.maincontent{
	width: 100%;
	height: 100%;
	padding-top: 90px;

}

.navbar img{
	width: 120px;
	margin-left: 400px;
}


.logo{

	width: 100px;
	position: absolute;
	top: 90px;
	left: 30px;
	cursor: pointer;
}
.content{
	margin-top: 280px;
	margin-inline: 100px;
}

.maintitle{
	color: white; 
	font-family: monospace;
	text-transform: uppercase;
	text-shadow: 2px 2px black; 
	text-align: left;
	margin: 0;
	margin-left: 100px;
}
.hrr{
margin-bottom: 30px;

}

.navbar{
z-index: 400; 
	clip-path: ellipse(54% 100% at 52.96% 0%); 
	width: 95%; 
	height: 12%;
 padding-right: 200px; 
 position: fixed; 
 background: rgb(2,0,36); background:
 linear-gradient(90deg, rgba(2,0,36,1) 1%, rgba(255,177,30,1) 32%, rgba(254,174,0,1) 87%, rgba(255,30,30,1) 100%);	display: flex; align-items:
 center; justify-content: space-between; overflow: hidden; } nav{ flex: 1;
 color: black; text-align: right;

}
nav ul li{
	list-style: none;
	display: inline-block;
	margin: 30px;

border-radius: 20px;}



/*
Button
*/


.svg-wrapper {
	display: flex;
	justify-content: space-between; 
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 998;
 	background: darkgoldenrod;
 	border-radius: 10px;



}


#shape {
  stroke-width: 6px;
   	fill: transparent;

  stroke: #009FFD;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;

}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;

}

#text a {
	text-transform: uppercase;
  color: black;

  font-family: cursive;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}


/*...................*/
.content{
	color: #fbfcfd;
	position: absolute;
	text-shadow: 3px 4px black;
	top: 60%;
	left: 8%;
	z-index: 2;
	transform: translateY(-50%);
}
h1{
	font-size: 80px;
	margin: 10 px 0 30px;
	line-height: 80px;
}
.animations img{
	width: 40px;
	animation: animations 7s linear infinite;
}
.animations{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	bottom: -300;
}

@keyframes animations{
	0%{
		transform: translateY(0);
		opacity: 0;
	}

	15%{
		opacity: 0;
	}
	50%{
		opacity: 1;
		width: 50px;
	}
	70%{
		opacity: 1;
		width: 4%;
	}
	100%{
		transform: translateY(-80vh);
		opacity: 0;
	}
}

.animations img:nth-child(1){
	animation-delay: 2s;
}
.animations img:nth-child(2){
	animation-delay: 4s;
}
.animations img:nth-child(3){
	animation-delay: 7s;
}
.animations img:nth-child(4){
	animation-delay: 1s;
}
.animations img:nth-child(5){
	animation-delay: 5s;
}
.animations img:nth-child(6){
	animation-delay: 7s;
}
.animations img:nth-child(7){
	animation-delay: 5.5s;
}


/*Scroll bar*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background: transparent;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #FFF;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: skyblue;
}




#loader{
	background: rgb(123, 74, 22) url(images/loader1.gif) no-repeat center;
	background-size: 30%;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 999;
}





.slider{
   border-radius: 35px; 	
   width: 75%;
   overflow: hidden;
   margin: 0 auto;
   margin-block: 5px;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 300px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left: -100px;
}
#img2:checked ~ .m2 {
    margin-left: -400px;
}
#img3:checked ~ .m3 {
    margin-left: -1000px;
}
#img4:checked ~ .m4 {
    margin-left: -1000px;
}




	

h1{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.wrapper p{
	text-shadow: 2px 2px black;
color: rgba(255,255,255,0.8);
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background-image: url(images/cardback.jpeg);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;

    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}


.fa-bars {
  margin-right: 10px;
}
.navbari img{
    position: fixed;
    top: 90px;
    right: 50px;
    z-index: 898;
}

.navigation-menu {
  background: #111;
  height: 100%;
  width: 30%;
  padding: 60px 0;
  margin: 0;
  list-style: none;
  text-align: center;
  position: fixed;
  right: -45%;
  top: 0;
  transition: all 0.5s;
  z-index: 1;
  font-size: 60px;
}

.navigation-menu li {
  padding: 30px 0;
}

.navigation-menu li:nth-of-type(2n) {
  background: #222;
}

.navigation-menu li:hover {
  background: orangered;
}

.navigation-menu a {
  color: #E5E5E5;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  transition:all 0.3s;
}




/* Hide the checkbox */
#toggle {
  display: none; 
}

/* Use this label to toggle the sliding menu */
label[for="toggle"] {
  cursor: pointer;
  font-size: 30px;
  margin-left: 190px;
}

/* Slide menu when checkbox is checked */
input#toggle:checked + ul.navigation-menu {
  right: 0;
}



